form {
  padding: 0.5rem 30px;
  padding-top: 0;
}
form .field {
  height: 50px;
  width: 100%;
  margin: 20px 0 40px;
  position: relative;
}
form .field input {
  color: rgb(35, 35, 35);
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
  padding: 10 0.8rem;
}
form .field input:focus {
  border-color: rgb(252, 185, 0);
}
form .field input::selection {
  background: rgb(252, 185, 0);
  color: rgb(35, 35, 35);
}
form .field input[type="submit"] {
  color: rgb(35, 35, 35);
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  border: none;
  cursor: pointer;
  background: rgb(252, 185, 0);
  font-weight: bold;
}
form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.field input:valid {
  border-color: rgb(252, 185, 0);
}
.field input:valid + label,
.field input:focus + label {
  top: 0% !important;
  font-size: 16px !important;
  color: rgb(211, 157, 9) !important;
  background: #fff !important;
  padding: 0 10px;
  text-align: center;
}

.icon-password {
  position: absolute;
  top: 50%;
  right: 20px;
  color: #999999;
  font-size: 19px;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
}

#alert {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: rgb(187, 0, 0);
  font-size: 0.8rem;
  animation: shake 0.5s ease-in-out;
  animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-iteration-count: 1.5;
  transition: all 1s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.btn {
  margin: auto;
  border: 0;
  background-color: var(--bg2);
  border-radius: 1.5em;
  display: block;
  position: relative;
  width: 100%;
  height: 3em;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #575656;
}

.btn:not(:disabled):active {
  transform: translateY(0.1em);
}

.btn__text {
  background-image: rgb(252, 185, 0);
  border-radius: inherit;
  color: rgb(35, 35, 35);
  display: inline-block;
  padding: 0.75em 1.5em;
  transition: background-color 0.15s linear, color 0.15s 0.3s ease-in-out;
  width: 100%;
}

.btn:not(:disabled):hover .btn__text {
  background-color: rgb(252, 185, 0);
}
