<div
  class="body"
  [ngClass]="theme == 1 ? 'standard' : theme == 2 ? 'light' : 'darker'"
>
  <app-nav> </app-nav>
  <app-change-theme></app-change-theme>

  <h1 id="title">
    Todo details.
    <div id="border"></div>
  </h1>

  <div class="container">
    <div id="tasks">
      <app-todo
        *ngFor="let todo of todo; let i = index"
        [todo]="todo"
        [i]="i"
        [id]="todo.id"
      ></app-todo>
      <div class="notes">Notes</div>
      <textarea id="textarea" [(ngModel)]="text">{{
        todo[0].details
      }}</textarea>
      <button class="btn" (click)="save()">Save Note</button>
    </div>
  </div>
</div>
